body {
    font-family: 'bebas_regular', sans-serif;
    overflow-x: hidden;
}

.navegacion-principal {
    z-index: 34;
}

.navegacion-principal {
    margin-top: -50px;
    position: fixed;
    width: 100%;
    background-color: #202020;
    border-bottom: 1px solid;
    border-bottom-color: #2d2d2d;
    min-height: 49px;
}

.navbar {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.navegacion-principal .social a.fa-background,
.navegacion-principal .social i.fa-background {
    width: 18px;
    padding: 3px;
    height: 18px;
    font-size: 12px;
    color: #191919;
    background-color: #fff;
    border-radius: 2px;
}

.navegacion-principal .social a.fa, .navegacion-principal .social i.fa {
    transition: all .5s ease;
    text-align: center;
}

.navegacion-principal .social a, .navegacion-principal .social i {
    color: #fff;
    display: block;
    float: left;
    font-size: 9px;
    margin-top: 11px;
    margin-left: 2px;
    margin-right: 2px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.row {
    font-family: 'bebas_light', sans-serif;
    font-size: 20px;
    line-height: 28.5714px;
    text-align: left;
    letter-spacing: 0.75px;
}

/* Estilos específicos para pantallas con un ancho de 1263px */
@media screen and (min-width: 1263px) {
    .navbar,
    .navbar-default,
    .navegacion-principal {
      /* Agrega estilos específicos para pantallas grandes aquí */
    }
  }


